<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <div>
            <ul class="navbar-nav d-flex flex-row gap-4 nav">
                <button id="darkModeToggle" class="btn btn-secondary">🌙 Tamni režim</button>
                <li class="nav-item"><a class="nav-link" href="/#/">Glavna</a></li>
                <li class="nav-item"><a class="nav-link" href="/pricing.markdown">Cene</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link" href="#">O nama</a></li>
                <li class="nav-item"><div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div></li>
                
            </ul>
        </div>
    </div>
</nav>
<header id="naslovna" class="container text-center py-5 position-relative">
    <div class="header-overlay">
        <h1 class="mb-3">Dobrodošli u našu poljoprivrednu prodavnicu</h1>
        <p class="lead" style="position: relative; z-index: 1;">
            Sveže domaće voće i povrće direktno sa farme do vašeg stola!
        </p>
    </div>
</header>