<nav class="navbar navbar-dark" style="border-radius: 0 0 40px 40px;">
    <div class="container-fluid">
        <div>
            <ul class="navbar-nav d-flex flex-row gap-4 nav">
                <button id="darkModeToggle" class="btn btn-secondary">🌙</button>
                <li class="nav-item"><a class="nav-link" href="/lite-page-green-template/#/">Glavna</a></li>
                <li class="nav-item"><a class="nav-link" href="/lite-page-green-template/pricing.markdown">Cene</a></li>
                <li class="nav-item"><a class="nav-link" href="/lite-page-green-template/blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Kontakt</a></li>
                <li class="nav-item"><a class="nav-link" href="#">O nama</a></li>                
            </ul>
        </div>
    </div>
</nav>
<header id="welcome" class="container text-center py-5 position-relative px-md-2">
    <div class="header-overlay p-4">
        <h1 class="mb-3">Dobrodošli u našu poljoprivrednu prodavnicu</h1>
        <p class="lead" style="position: relative; z-index: 1;">
            Sveže domaće voće i povrće direktno sa farme do vašeg stola!
        </p>
    </div>
</header>