---
layout: default
title: Posts by Vladan
paginate: true
permalink: /blog/author/vladan/
---

<style>
  .single-post {
    margin: 0 auto;
    padding: 2rem;
    background-color: #f4ffc3;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  }
</style>
<style>
  .slide-in-left,
  .slide-in-right {
    opacity: 0;
    transition: all 1s ease-out;
    will-change: transform, opacity;
  }

  .slide-in-left {
    transform: translateX(-100%);
  }

  .slide-in-right {
    transform: translateX(100%);
  }

  .show-left {
    opacity: 1;
    transform: translateX(0);
  }

  .show-right {
    opacity: 1;
    transform: translateX(0);
  }

  .post-meta,
  .post-meta a {
    color: #809d3c;
    font-style: italic;
    margin-bottom: 1rem;
  }
</style>
<section class="container my-5 single-post">
  <h1 class="my-5">Postovi autora Vladan</h1>

  <ul class="list-unstyled">
    {% assign vladans_posts = site.posts | where: "author", "Vladan" %} {% for
    post in vladans_posts %} {% assign index_mod = forloop.index0 | modulo: 2 %}
    {% assign animation_class = 'slide-in-left' %} {% if index_mod == 1 %} {%
    assign animation_class = 'slide-in-right' %} {% endif %}

    <li class="hidden-section {{ animation_class }}">
      <h2>
        <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
        <span class="fs-5 fw-normal post-meta">
          - {{ post.date | date: "%d.%m.%Y" }}
        </span>
      </h2>
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll(
      ".slide-in-left, .slide-in-right"
    );

    function handleScroll() {
      sections.forEach((section) => {
        const sectionPosition = section.getBoundingClientRect().top;
        const screenHeight = window.innerHeight;

        if (
          sectionPosition < screenHeight * 0.85 &&
          !section.classList.contains("show-left") &&
          !section.classList.contains("show-right")
        ) {
          if (section.classList.contains("slide-in-left")) {
            section.classList.add("show-left");
          } else if (section.classList.contains("slide-in-right")) {
            section.classList.add("show-right");
          }
        }
      });
    }

    window.addEventListener("scroll", handleScroll);
    handleScroll();
  });
</script>
