<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ 'assets/css/styles.css' | relative_url }}"
    />
    <link rel="icon" href="{{ site.data.theme.favicon | relative_url }}" />
    <style>
      {% if site.data.theme.body_background_image_light %}
        :root {
          --bg-image: url('{{ site.data.theme.body_background_image_light | relative_url }}') repeat;
        }
      {% endif %}
      {% if site.data.theme.body_background_image_dark %}
        [data-bs-theme="dark"] {
          --bg-image: url('{{ site.data.theme.body_background_image_dark | relative_url }}') repeat;
        }
      {% endif %}
    </style>
  </head>

  <body class="parallax-bg">
    <!-- <nav
      class="navbar navbar-dark"
      style="
    border-radius: 0 0 40px 40px;
    background: url('{{ site.data.theme.header_background_image | relative_url }}') center/cover no-repeat;
    "
    >
      <div class="container-fluid">
        <div>
          <ul class="navbar-nav d-flex flex-row gap-4 nav">
            <li class="nav-item">
              <a class="nav-link" href="/lite-page-green-template/#/">Glavna</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/lite-page-green-template/pricing.markdown"
                >Cene</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lite-page-green-template/blog.html"
                >Blog</a
              >
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Kontakt</a></li>
            <li class="nav-item"><a class="nav-link" href="#">O nama</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
    <header
      id="welcome"
      class="container text-center py-5 position-relative px-md-2"
      style="background: url('{{ site.data.theme.header_background_image | relative_url }}') center/cover no-repeat;"
    >
      <div class="header-overlay p-4">
        <h1 class="mb-3">{{ site.data.i18n.sr.welcome_to_our_store }}</h1>
        <p class="lead" style="position: relative; z-index: 1">
          {{ site.data.i18n.sr.fresh_produce }}
        </p>
      </div>
    </header>
    <nav
      style="border-radius: 0 0 40px 40px"
      class="navbar navbar-dark fixed-top navbar navbar-expand-md"
      id="mainNavbar"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler mx-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-3" id="navbarNav">
          <ul class="navbar-nav mt-3 mt-md-0">
            <li class="nav-item">
              <button id="darkModeToggle" class="btn btn-secondary">🌙</button>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#welcome">Naslovna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#products">Naši Proizvodi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contact">Kontakt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light ms-2 phone-button"
                href="tel:{{ site.data.landing.phone }}"
                >📞 <strong>Telefon:</strong> {{ site.data.landing.phone }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}
    <a href="#" class="position-fixed bottom-0 end-0 m-3" id="backToTop">▲</a>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <script>
      let lastScrollTop = 0;
      const navbar = document.getElementById("mainNavbar");

      window.addEventListener("scroll", function () {
        const currentScroll =
          window.pageYOffset || document.documentElement.scrollTop;

        if (currentScroll > lastScrollTop) {
          navbar.classList.add("hide-navbar");
        } else {
          navbar.classList.remove("hide-navbar");
        }

        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
      });
    </script>
    <script>
      const backToTopBtn = document.getElementById("backToTop");

      window.addEventListener("scroll", () => {
        if (window.scrollY > 100) {
          backToTopBtn.classList.add("show");
        } else {
          backToTopBtn.classList.remove("show");
        }
      });
    </script>
  </body>
</html>
